body {
  background-color: rgba(13, 110, 253, 0.05);
}

form#create-order-form {
  background-color: white;
  padding: 1em;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  max-width: 800px;
  margin: auto;
}